{% extends 'master.html' %}

{% block title_block %}
Donation Collection | Home
{% endblock %}

{% block extra_css %}
<style media="screen">
  #countdown-1 li{
    display:inline;
  }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body_block %}

    <div class="container pt-120">
        <div class="main-body">

              <div class="row gutters-sm">
                <div class="col-lg-12 col-md-12 mb-3">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="section_title text-center mb-55">
                              <h3><span>Your Events Summary</span></h3>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-12">
       <div class="row d-flex justify-content-around">
									<div class="col-xl-4 col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
										<div class="card">
											<div class="card-body text-center">
												<h5 class="card-title mb-4">COLLECTED</h5>
												<h4 class="display-6 mt-1 mb-2">{{event.collected}}</h4>

											</div>
										</div>

									</div>
									<div class="col-xl-4 col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
										<div class="card">
											<div class="card-body text-center">
												<h5 class="card-title mb-4">DONARS</h5>
												<h4 class="display-5 mt-1 mb-3">{{donations|length}}</h4>

											</div>
										</div>

									</div>

                  <div class="col-xl-4 col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
										<div class="card">
											<div class="card-body text-center">
												<h5 class="card-title mb-4">Remaining Time</h5>
												<h5 class="display-5 mt-1 mb-3">
                          <ul id="countdown-1" class="countdown" style="display: inline-block;">
                            <li><span id="days"></span> </li>
                            <li><span id="hours"></span> </li>
                            <li><span id="minutes"></span> </li>
                            <li><span id="seconds"></span> </li>
                         </ul>
                        </h5>

											</div>
										</div>

									</div>




								</div>
                </div>


                <div class="col-lg-12">

                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="section_title text-center mb-55">
                              <h3><span>Donars List</span></h3>
                          </div>
                      </div>
                  </div>

                  <ol class="list-group list-group-numbered">
                    {% if not donations %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">No One donated in your event</div>
                      </div>
                    </li>

                    {% else %}
                    {% for don in donations %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        {% if don.hide_identity %}
                        <div class="fw-bold"><a >Anonymous</a></div>
                        {% else %}
                        <div class="fw-bold"><a >Anonymous</a></div>
                        {% endif %}
                      </div>

                      <a href="{% url 'App_Account:eventsummery' slug=evn.slug %}">
                      <span class="badge bg-success rounded-pill" style="padding: 10px;" >View Details</span>
                      </a>
                    </li>
                    {% endfor %}
                    {% endif %}



                  </ol>
                </div>

                <div class="col-lg-12 col-md-12 mb-3">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="section_title text-center mb-55">
                              <h6><button type="button" onclick="history.go(-1)" class="button button-contactForm boxed-btn"> Go Back </button></h6>
                          </div>
                      </div>
                  </div>

                </div>
              </div>

            </div>
        </div>

{% block extra_js %}

<script>
function makeTimer() {
   var endTime=new Date({{ event.endtime|date:"U" }} * 1000);
    endTime = (Date.parse(endTime) / 1000);

        var now = new Date();
        now = (Date.parse(now) / 1000);

        var timeLeft = endTime - now;

        var days = Math.floor(timeLeft / 86400);
        var hours = Math.floor((timeLeft - (days * 86400)) / 3600);
        var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600 )) / 60);
        var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));

        if (hours < "10") { hours = "0" + hours; }
        if (minutes < "10") { minutes = "0" + minutes; }
        if (seconds < "10") { seconds = "0" + seconds; }

        $("#days").html(days + "<span>d:</span>");
        $("#hours").html(hours + "<span>h:</span>");
        $("#minutes").html(minutes + "<span>m:</span>");
        $("#seconds").html(seconds + "<span>s</span>");

}

setInterval(function() { makeTimer(); }, 1000);
</script>


{% endblock %}

{% endblock %}
