{% extends 'App_Admin/master.html' %}

{% load static %}

{% block title_block %}
Admin Dashboard | UserDetails
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}
<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row"  >

  <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-info"></i> Issue Details <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start accordion -->
                    <div class="accordion" id="accordion" aria-multiselectable="true">
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Name: {{issue.user.first_name}}</h4>
                        </a>
                      </div>
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Is Organization: {{issue.user.is_org}} </h4>
                        </a>

                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Is Verified Person: {{issue.user.is_personorg}} </h4>
                        </a>

                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Date: {{issue.date}} </h4>
                        </a>
                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">subject: {{issue.subject}} </h4>
                        </a>
                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Details: {{issue.details}} </h4>
                        </a>
                      </div>

                    </div>
                    <!-- end of accordion -->


                  </div>
                </div>
  </div>



  <div class=" col-lg-6 col-md-6 col-sm-6 ">
    <div class="x_panel" class="">
    <div class="row">
      <div class="" style="display:block;  margin-left: auto; margin-right: auto; ">
        <form class="" action="" method="POST">
          {% csrf_token %}
          <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">Read<span class="required"></span></label>

              <div class="col-md-6 col-sm-6">

                  {{ form.read }}

              </div>
          </div>

          <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">Working On<span class="required"></span></label>

              <div class="col-md-6 col-sm-6">

                  {{ form.status }}

              </div>
          </div>

          <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">Solved<span class="required"></span></label>

              <div class="col-md-6 col-sm-6">

                  {{ form.solved }}

              </div>
          </div>

          <button type="button" class="btn btn-success pull-right" onClick="javascript:history.go(-1);">Back</button>
          <button type="submit" class="btn btn-success pull-right">Confirm</button>
        </form>
        <!--
        <button onclick="location.href='{% url 'App_Event:home' %}'" class="btn btn-success pull-right"><i class="fa fa-edit"></i>Update Information</button>
        -->

      </div>
    </div>
    </div>
    </div>

<div class="col-md-6 col-sm-6">
  <div class="x_panel">
  <div class="row">
    <div class=" ">
      <button type="button" class="btn btn-success pull-right" onClick="javascript:history.go(-1);"> Go Back </button>
    </div>
  </div>
  </div>
  </div>


</div>
</div>
  <!-- /top tiles -->
{% endblock %}

{% block extra_js %}

{% endblock %}
