{% extends 'App_Admin/master.html' %}

{% load static %}

{% block title_block %}
Admin Dashboard | Organization Lists
{% endblock %}

{% block extra_css %}

<link href="{% static 'dashboard/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'dashboard/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}

<div class="right_col" role="main">

  <div class="col-md-12 col-sm-12 ">
               <div class="x_panel">
                 <div class="x_title">
                   <h2>All UnVerified User List<small></small></h2>
                   <ul class="nav navbar-right panel_toolbox">
                     <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                     </li>

                   </ul>
                   <div class="clearfix"></div>
                 </div>
                 <div class="x_content">
                   <div class="row">
                     <div class="col-sm-12">
                       <div class="card-box table-responsive">
                         <p class="text-muted font-13 m-b-30">
                           Search with User name, email, type, and date
                         </p>

                         <table id="datatable-keytable" class="table table-striped table-bordered" style="width:100%">
                           <thead>
                             <tr>
                               <th>Email</th>
                               <th>First Name</th>
                               <th>Date</th>
                               <th>Bank</th>
                             </tr>
                           </thead>


                           <tbody>

                             {% for usr in user %}
                             <tr>
                               <td><a href="{% url 'App_Admin:userdetails' pk=usr.user.pk %}">{{usr.user.email}}</a></td>
                               <td>{{usr.user.first_name}}</td>
                               <td>{{usr.user.start_date}}</td>
                               <td><a href="{% url 'App_Admin:unverifiedusersbankdetails' pk=usr.pk %}">{{usr.bank_name}}</a></td>
                             </tr>
                             {% endfor %}
                           </tbody>
                         </table>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
            </div>

</div>



{% endblock %}

{% block extra_js %}

<script src="{% static 'dashboard/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
<script src="{% static 'dashboard/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'dashboard/vendors/pdfmake/build/vfs_fonts.js' %}"></script>

{% endblock %}
