{% extends 'App_Admin/master.html' %}

{% load static %}

{% block title_block %}
Admin Dashboard | UserDetails
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}
<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row"  >

  <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-info"></i> Bank Information <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start accordion -->
                    <div class="accordion" id="accordion" aria-multiselectable="true">
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Bank Name: {{user.bank_name}}</h4>
                        </a>
                      </div>
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Bank Branch: {{user.bank_branch}} </h4>
                        </a>

                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Account Number: {{user.account_number}} </h4>
                        </a>

                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Account Name: {{user.account_name}} </h4>
                        </a>
                      </div>

                      <div class="panel" style="overflow: hidden;">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">NID Card Front Page</h4>
                          {% if user.nid_card_front %}
                          <img class="center" src="{{user.nid_card_front.url}}" alt="NID Card Front" style="width: 50%; height: auto;" >
                          {% else %}
                          <img class="center" src="{% static 'dashboard/imagenotfound.png' %}" alt="Organization Document" style="width: 50%; height: auto;" >
                          {% endif %}
                        </a>
                      </div>

                      <div class="panel" style="overflow: hidden;">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">NID Card Back Page</h4>
                          {% if user.nid_card_back %}
                          <img class="center" src="{{user.nid_card_back.url}}" alt="NID Card Front" style="width: 50%; height: auto;" >
                          {% else %}
                          <img class="center" src="{% static 'dashboard/imagenotfound.png' %}" alt="Organization Document" style="width: 50%; height: auto;" >
                          {% endif %}
                        </a>
                      </div>

                    </div>
                    <!-- end of accordion -->


                  </div>
                </div>
  </div>

  <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-info"></i> Profile <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start accordion -->
                    <div class="accordion" id="accordion" aria-multiselectable="true">

                      <div class="panel" style="overflow: hidden;">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Profile Picture</h4>
                          {% if profile.profile_pic %}
                          <img class="center" src="{{profile.profile_pic.url}}" alt="Profile Picture" style="width: 50%; height: auto;" >
                          {% else %}
                          <img class="center" src="{% static 'dashboard/imagenotfound.png' %}" alt="Organization Document" style="width: 50%; height: auto;" >
                          {% endif %}
                        </a>
                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Bio: {{profile.bio}}</h4>
                        </a>
                      </div>
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Division: {{profile.division}} </h4>
                        </a>

                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Zilla: {{profile.zilla}} </h4>
                        </a>

                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Thana:{{profile.thana}} </h4>
                        </a>
                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Address:{{profile.address}} </h4>
                        </a>
                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Mobile Number:{{profile.mobile_number}} </h4>
                        </a>
                      </div>
                    </div>
                    <!-- end of accordion -->


                  </div>
                </div>
  </div>


  <div class=" col-lg-6 col-md-6 col-sm-6 ">
    <div class="x_panel" class="">
    <div class="row">
      <div class="" style="display:block;  margin-left: auto; margin-right: auto; ">
        <form class="" action="" method="POST">
          {% csrf_token %}
          <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">Message<span class="required"></span></label>

              <div class="col-md-6 col-sm-6">

                  {{ form.message }}

              </div>
          </div>

          <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">All Filled<span class="required"></span></label>

              <div class="col-md-6 col-sm-6">

                  {{ form.filled }}

              </div>
          </div>

          <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">Verify<span class="required"></span></label>

              <div class="col-md-6 col-sm-6">

                  {{ form.is_verified }}

              </div>
          </div>


          <button type="button" class="btn btn-success pull-right" onClick="javascript:history.go(-1);">Back</button>
          <button type="submit" class="btn btn-success pull-right">Confirm</button>
        </form>
        <!--
        <button onclick="location.href='{% url 'App_Event:home' %}'" class="btn btn-success pull-right"><i class="fa fa-edit"></i>Update Information</button>
        -->

      </div>
    </div>
    </div>
    </div>

<div class="col-md-6 col-sm-6">
  <div class="x_panel">
  <div class="row">
    <div class=" ">
      <button type="button" class="btn btn-success pull-right" onClick="javascript:history.go(-1);"> Go Back </button>
    </div>
  </div>
  </div>
  </div>


</div>
</div>
  <!-- /top tiles -->
{% endblock %}

{% block extra_js %}

{% endblock %}
