{% extends 'master.html' %}

{% block title_block %}
Donation Collection | Home
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body_block %}

    <div class="container pt-120">
        <div class="main-body">

              <div class="row gutters-sm">
                <div class="col-lg-4 col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        {% if profile.profile_pic %}
                        <img src="{{profile.profile_pic.url}}" alt="Admin" class="rounded-circle" width="150">
                        {% else %}
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        {% endif %}
                        <div class="mt-3">
                          <h4>{{user.first_name}} {{user.last_name}}</h4>
                          <p class="text-secondary mb-1">{{profile.bio}}</p>
                          <a href="mailto:{{user.email}}"><p> <i class="far fa-envelope"></i>{{user.email}}</p></a>
                          <a href="tel:{{profile.mobile_number}}"> <p> <i class="fas fa-phone-volume"></i> {{profile.mobile_number}} </p> </a>
                        </div>
                          <button type="button" onclick="location.href='{% url 'App_Account:updateinfo' slug=user.slug %}';"  class="button button-contactForm boxed-btn ">Update Profile</button>
                      </div>
                    </div>
                  </div>




                  <br>
                  <br>

                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <div class="">
                          {% if not bankinfo.is_verified %}
                          If you want to create an event fill up your bank details and personal infoformation form. Then your account will be verified by us.
                          {% elif bankinfo.is_verified and not user.is_personorg %}
                          We will review your account and then confirm you.
                          {% endif %}
                            <br>
                            {% if bankinfo.filled or bankinfo.is_verified %}
                          <button type="button" onclick="location.href='{% url 'App_Account:updatebankinfo' slug=user.slug %}';" class="button button-contactForm boxed-btn ">Update Bank Details</button>
                            {% else %}
                          <button type="button" onclick="location.href='{% url 'App_Account:updatebankinfo' slug=user.slug %}';" class="button button-contactForm boxed-btn ">Provide Bank Details</button>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>


                {% if  user.is_personorg %}
                <br>
                <br>

                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <div class="">

                          <button type="button" onclick="location.href='{% url 'App_Account:verifiesperson' slug=user.slug %}';" class="button button-contactForm boxed-btn ">Event Management</button>

                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                </div>
                <div class="col-lg-8 col-md-6 mb-3">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="section_title text-center mb-55">
                              <h3><span>You Contributed </span></h3>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-12">
       <div class="row d-flex justify-content-around">
									<div class="col-xl-5 col-md-6 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
										<div class="card">
											<div class="card-body text-center">
												<h5 class="card-title mb-4">TOTAL</h5>
												<h1 class="display-6 mt-1 mb-2">{{totalamount}}</h1>

											</div>
										</div>

									</div>
									<div class="col-xl-5 col-md-6 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
										<div class="card">
											<div class="card-body text-center">
												<h5 class="card-title mb-4">EVENTS</h5>
												<h1 class="display-5 mt-1 mb-3">{{donations|length}}</h1>

											</div>
										</div>

									</div>




								</div>
                </div>


                <div class="col-lg-12">

                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="section_title text-center mb-55">
                              <h3><span>Events List</span></h3>
                          </div>
                      </div>
                  </div>

                  <ol class="list-group list-group-numbered">
                    {% if not donations %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">You did't participate any donation program</div>
                      </div>
                    </li>

                    {% else %}
                    {% for don in donations %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold"><a href="{% 'App_Event:eventdetails' slug=don.event.slug}"></a>{{don.event.title}}</div>

                      </div>
                      <span class="badge bg-success rounded-pill">৳ {{don.amount}}</span>
                    </li>
                    {% endfor %}
                    {% endif %}



                  </ol>
                </div>


                </div>
              </div>

            </div>
        </div>

{% block extra_js %}


{% endblock %}

{% endblock %}
