{% extends 'master.html' %}
{% load static %}
{% block title_block %}
Donation Collection | Home
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}


<div class="col-lg-6 col-md-6 m-auto d-flex justify-content-around pt-120">

  <form method="POST" enctype="multipart/form-data" class="form-contact contact_form">
  {% csrf_token %}
    <div class="row w-100 ">
      <div class="row d-flex justify-content-center">
          <div class="col-lg-12">
              <div class="section_title text-center mb-55">
                  <h3><span>Bank Information Update</span></h3>
              </div>
          </div>
      </div>

    <div class="col-lg-12 col-sm-12">
      <label for="">NID Card Front Page</label>
      <div class="form-group">
        {{ form.nid_card_front }}
      </div>
  </div>

    <div class="col-lg-12 col-sm-12">
      <label for="">NID Card Back Page</label>
      <div class="form-group">
    {{ form.nid_card_back }}
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
        <label for="org_name">Bank Name</label>
        <div class="form-group">
            {{ form.bank_name }}
        </div>
    </div>


    <div class="col-lg-12 col-sm-12">
      <label for="">Bank Branch</label>
      <div class="form-group">
        {{form.bank_branch}}
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <label for="">Account Name</label>
      <div class="form-group">
        {{form.account_name}}
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <label for="">Account Number</label>
      <div class="form-group">
        {{form.account_number}}
      </div>
    </div>

  {% if form.errors %}
    {{ form.errors }}
  {% endif %}

    <div class="col-lg-12 col-sm-12">
    <button type="submit" class="button button-contactForm boxed-btn"> submit </button>
    <button type="button" onclick="history.go(-1)" class="button button-contactForm boxed-btn"> Go Back </button>
    </div>
  </div>
  </form>
</div>

{% block extra_js %}
 <script src="{% static 'general/js/CustomScripts/Division-zila-upazilla-selection.js' %}" ></script>

{% endblock %}

{% endblock %}
