{% extends 'master.html' %}
{% load static %}
{% block title_block %}
Donation Collection | Home
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}


<div class="col-lg-6 col-md-6 m-auto d-flex justify-content-around pt-120">

  <form method="POST" enctype="multipart/form-data" class="form-contact contact_form">
  {% csrf_token %}
    <div class="row w-100 ">
      <div class="row d-flex justify-content-center">
          <div class="col-lg-12">
              <div class="section_title text-center mb-55">
                  <h3><span>Personal Information Update</span></h3>
              </div>
          </div>
      </div>

    <div class="col-lg-12 col-sm-12">
      <label for="">About you</label>
      <div class="form-group">
        {{ form.bio }}
      </div>
  </div>

    <div class="col-lg-12 col-sm-12">
      <label for="">Your Picture</label>
      <div class="form-group">
    {{ form.profile_pic }}
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
        <label for="org_name">Contact Number</label>
        <div class="form-group">
            {{ form.mobile_number }}
        </div>
    </div>

      <div class="col-lg-12 col-sm-12">
          <label >Division<span class="required"></span></label>

          <div class="form-group">
              <select class="form-control select2" name="division" id="divisions" onchange="divisionsList();" required>
                  <option value="" disabled selected> Select Division</option>
                  <option value="Barishal">Barishal</option>
                  <option value="Chattogram">Chattogram</option>
                  <option value="Dhaka">Dhaka</option>
                  <option value="Khulna">Khulna</option>
                  <option value="Mymensingh">Mymensingh</option>
                  <option value="Rajshahi">Rajshahi</option>
                  <option value="Rangpur">Rangpur</option>
                  <option value="Sylhet">Sylhet</option>
              </select>
          </div>
  </div>

    <div class="col-lg-12 col-sm-12">
    <label >Zila<span class="required"></span></label>
      <div class="form-group">
        <select class="form-control select2" name="zilla" id="distr"  onchange="thanaList();" required></select>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <label>Thana<span class="required">*</span></label>
      <div class="form-group">
        <select class="form-control select2" name="thana" id="polic_sta" required></select>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <label for=""> Your Present Address</label>
      <div class="form-group">
        {{form.address}}
      </div>
    </div>





    {% if form.errors %}
    {{ form.errors }}
    {% endif %}
    <div class="col-lg-12 col-sm-12">
    <button type="submit" class="button button-contactForm boxed-btn"> submit </button>
    </div>
  </div>
  </form>
</div>

{% block extra_js %}
 <script src="{% static 'general/js/CustomScripts/Division-zila-upazilla-selection.js' %}" ></script>

{% endblock %}

{% endblock %}
