{% extends 'App_Admin/master.html' %}

{% load static %}

{% block title_block %}
Organization Dashboard
{% endblock %}

{% block extra_css %}

<style media="screen">
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<!--
	<meta name="og:image" content="http://{{ request.META.HTTP_HOST }}{{org.org_prove1.url}}">
-->
{% endblock %}

{% block body_block %}
<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row"  >

    <div class="col-md-12 col-sm-12  ">
                  <div class="x_panel">
                    <div class="x_title">
                      <h2><i class="fa fa-info"></i> Event Details <small></small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <!-- start accordion -->
                      <div class="accordion" id="accordion" aria-multiselectable="true">
                        <div class="panel">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Event Title: {{event.title}}</h4>
                          </a>
                        </div>
                        <div class="panel">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Event Type: {{event.event_type}} </h4>
                          </a>

                        </div>

                        <div class="panel" style="overflow: hidden;">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Event Main Image </h4>
                            {% if event.event_pic %}
                            <img class="center" src="{{event.event_pic.url}}" alt="Organization image or logo" style="width: 50%; height: auto;" >
                            {% else %}
                            <img class="center" src="{% static 'dashboard/imagenotfound.png' %}" alt="Event Image" style="width: 50%; height: auto;" >
                            {% endif %}
                          </a>
                        </div>

                        <div class="panel">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Sort Description: {{event.sort_description}} </h4>
                          </a>
                        </div>

                        <div class="panel" style="overflow:hidden;">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Description : {{event.description|safe}}  </h4>
                          </a>
                        </div>

                        <div class="panel" style="overflow:hidden;">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Note : {{event.note}} </h4>
                          </a>
                        </div>

                        <div class="panel">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Created : {{event.created}}</h4>
                          </a>
                        </div>

                        <div class="panel">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Ended : {{event.endtime}}</h4>
                          </a>
                        </div>

                        <div class="panel">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Need Amount : {{event.need_amount}}</h4>
                          </a>
                        </div>

                        <div class="panel">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Collected : {{event.collected}}</h4>
                          </a>
                        </div>

                        <div class="panel" style="overflow: hidden;">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Event Sub Image 1 </h4>
                            {% if event.extra_img1 %}
                            <img class="center" src="{{event.extra_img1.url}}" alt="Organization image or logo" style="width: 50%; height: auto;" >
                            {% else %}
                            <img class="center" src="{% static 'dashboard/imagenotfound.png' %}" alt="Event Image" style="width: 50%; height: auto;" >
                            {% endif %}
                          </a>
                        </div>

                        <div class="panel" style="overflow: hidden;">
                          <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4 class="panel-title">Event Sub Image 2 </h4>
                            {% if event.extra_img1 %}
                            <img class="center" src="{{event.extra_img1.url}}" alt="Organization image or logo" style="width: 50%; height: auto;" >
                            {% else %}
                            <img class="center" src="{% static 'dashboard/imagenotfound.png' %}" alt="Event Image" style="width: 50%; height: auto;" >
                            {% endif %}
                          </a>
                        </div>

                      </div>
                      <!-- end of accordion -->


                    </div>
                  </div>
    </div>



<div class=" col-lg-6 col-md-6 col-sm-6 ">
  <div class="x_panel" class="">
  <div class="row">
    <div class="" style="display:block;  margin-left: auto; margin-right: auto; ">
      <form class="" action="" method="POST">
        {% csrf_token %}
        <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Message<span class="required"></span></label>

            <div class="col-md-6 col-sm-6">

                {{ form.message }}

            </div>
        </div>

        <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Active<span class="required"></span></label>

            <div class="col-md-6 col-sm-6">

                {{ form.active }}

            </div>
        </div>

        <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Banned<span class="required"></span></label>

            <div class="col-md-6 col-sm-6">

                {{ form.banned }}

            </div>
        </div>

        <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Persentage<span class="required"></span></label>

            <div class="col-md-6 col-sm-6">

                {{ form.percentage }}

            </div>
        </div>

        <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">keywords<span class="required"></span></label>

            <div class="col-md-6 col-sm-6">

                {{ form.keywords }}

            </div>
        </div>

        <button type="button" class="btn btn-success pull-right" onClick="javascript:history.go(-1);">Back</button>
        <button type="submit" class="btn btn-success pull-right">Confirm</button>
      </form>
      <!--
      <button onclick="location.href='{% url 'App_Event:home' %}'" class="btn btn-success pull-right"><i class="fa fa-edit"></i>Update Information</button>
      -->

    </div>
  </div>
  </div>
  </div>


</div>
</div>
  <!-- /top tiles -->
{% endblock %}

{% block extra_js %}

{% endblock %}
