{% extends "App_Admin/master.html" %}
{% block body_block %}
{% load static %}


<div style="text-align: center; font-size: 50px; border: 9px solid lightblue; width:auto; border-radius: 10px;">
    General Info
</div>

    <div class="container" style="width: auto;">
        <table class="table table-responsive" style="border:9px red; width: auto;">
            <caption>List of users</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>



{% endblock %}