{% load static %}

<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <img src="{{org.org_pic.url}}" alt="Org Image" class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span></span>
        <h2>{{ org.org_name }}</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a href="{% url 'App_Admin:adminhome' %}"><i class="fa fa-home"></i> Home </a>
          </li>
          <li><a><i class="fa fa-edit"></i> Organization <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'App_Admin:organizationlist' %}">Organization list</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-desktop"></i> Events <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'App_Admin:eventlist' %}">Events List</a></li>
              <li><a href="{% url 'App_Admin:notverifiedeventlist' %}">Not Verified Events List</a></li>
              <li><a href="">Create Event</a></li>
            </ul>
          </li>
          <li><a><i class="fa fa-table"></i> Users <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="{% url 'App_Admin:allusers' %}">All Users</a></li>
              <li><a href="tables_dynamic.html">Withdraw History</a></li>
            </ul>
          </li>


        </ul>
      </div>

    </div>
    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
      <a data-toggle="tooltip" data-placement="top" title="Settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Lock">
        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
      </a>
      <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </a>
    </div>
    <!-- /menu footer buttons -->
  </div>
</div>
