
{% extends "App_Admin/master.html" %}
{% block body_block %}
{% load static %}

<script type="text/javascript" src="{% static 'newdashboard/scripts/search.js' %}"></script>
<div style="text-align: center; font-size: 50px; border: 9px solid lightblue; width:auto; border-radius: 10px;">
    Organization Info and Action Center
</div>
<br>
<input type="text" id="myInput" style="width: 100%; border-radius: 5px;" placeholder="Search for names..">

<div class="container" style="width: 100%;">
    <table id="myTable" class="table table-striped table-responsive" style="max-width: 100%;">
        <thead>
            <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">NID Card Front</th>
                    <th scope="col">NID Card Back</th>
                    <th scope="col">Bank Name</th>
                    <th scope="col">Branch Name</th>
                    <th scope="col">Bank A/C No</th>
                    <th scope="col">Bank A/C Name</th>
                    <th scope="col">Current Balance</th>
                    <th scope="col">Total Withraw</th>
                    <th scope="col">Take Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mrk@gmail.com</td>
                <td>Link</td>
                <td>Link</td>
                <td>DBBL</td>
                <td>pirojpur</td>
                <td>11111111</td>
                <td>Mr. Kamal</td>
                <td>BDT 20000</td>
                <td>BDT 10000</td>
                <td><button>Ban</button<button>Freeze</button><button>Profile</button>></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mrj@gmail.com</td>
                <td>Link</td>
                <td>Link</td>
                <td>DBBL</td>
                <td>Satkhira</td>
                <td>11111111</td>
                <td>Mr.Jamal</td>
                <td>BDT 20000</td>
                <td>BDT 10000</td>
                <td><button>Ban</button<button>Freeze</button><button>Profile</button>></td>
            </tr>
        </tbody>
    </table>

</div>


{% endblock %}