{% extends 'App_Organization/master.html' %}

{% load static %}

{% block title_block %}
Organization Dashboard
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}
<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row"  >

  {% if  not bankinfo.is_verified %}
  <div class="tile_count col-lg-12">

    <div class="alert alert-danger alert-dismissible " role="alert">
      <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';"><span aria-hidden="true">×</span>
      </button>
      <strong>You did't complete bank Informations</strong>
    </div>
  </div>

  {% else %}

  <div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-bank"></i> Your Bank Informations <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>

          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <!-- start accordion -->
        <div class="accordion" id="accordion" aria-multiselectable="true">
          <div class="panel">
            <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Bank Name : {{bankinfo.bank_name}}</h4>
            </a>
          </div>
          <div class="panel">
            <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Branch Name: {{bankinfo.bank_branch}}</h4>
            </a>

          </div>
          <div class="panel">
            <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Account Number: {{bankinfo.account_number}} </h4>
            </a>
          </div>

          <div class="panel">
            <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Account Name: {{bankinfo.account_name}}</h4>
            </a>
          </div>


        </div>
        <!-- end of accordion -->


      </div>
    </div>
  </div>


  <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bank"></i> Supported Banks <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start accordion -->
                    <div class="accordion" id="accordion" aria-multiselectable="true">

                      {% for bank in banks %}
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">{{bank.name}}</h4>
                        </a>
                      </div>
                      {% endfor %}
                    </div>
                    <!-- end of accordion -->


                  </div>
                </div>
  </div>

  {% endif %}

<div class="col-md-6 col-sm-6" style="margin:auto;">
  <div class="x_panel">
  <div class="row">
    <div class="" style="margin:auto;">
      <!--
      <button onclick="location.href='{% url 'App_Event:home' %}'" class="btn btn-success pull-right"><i class="fa fa-edit"></i>Update Information</button>
      -->
      <button onclick="location.href='{% url 'App_Organization:OrganizationUpdateBankInformation' slug=user.slug %}'" class="btn btn-success pull-right"><i class="fa fa-edit"></i>Update Information</button>
    </div>
  </div>
  </div>
  </div>


</div>
</div>
  <!-- /top tiles -->
{% endblock %}

{% block extra_js %}

{% endblock %}
