{% extends 'App_Organization/master.html' %}

{% load static %}

{% block title_block %}
Organization Dashboard
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}
<!-- page content -->
<div class="right_col" role="main">

  {% if not org.is_verified %}
  <div class="tile_count col-lg-12">
    <div class="alert alert-danger alert-dismissible " role="alert">
      <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';"><span aria-hidden="true">×</span>
      </button>
      <strong>Your Account is Not Verified Yet.</strong>
    </div>
  </div>
  {% endif %}

  {% if not org.given_org_details or not org.given_org_documents or not orgbank.is_verified %}
  <div class="tile_count col-lg-12">
    <div class="alert alert-danger alert-dismissible " role="alert">
      <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';"><span aria-hidden="true">×</span>
      </button>
      <strong>You didn't fill up all the forms of Account Details</strong>
    </div>
  </div>
  {% endif %}



  <!-- top tiles -->
  <div class="row"  >

  <div class="tile_count col-lg-12">

    <div class="col-lg-3 col-md-6 col-sm-12  tile_stats_count">
      <span class="count_top"><i class="fa fa-clock-o"></i> Account Balance </span>
      <div class="count green">{{orgbank.current_balance}}</div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12  tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i> Total Events</span>
      <div class="count">{{event}}</div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12  tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i>Total Withdraw</span>
      <div class="count">{{orgbank.total_withdraw}}</div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12  tile_stats_count">
      <span class="count_top"><i class="fa fa-user"></i>Current Events</span>
      <div class="count">{{currentevent}}</div>
    </div>
  </div>

</div>
</div>
  <!-- /top tiles -->
{% endblock %}

{% block extra_js %}

{% endblock %}
