{% extends 'App_Organization/master.html' %}

{% load static %}

{% block title_block %}
Organization Dashboard
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}
<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row" >


  {% if not org.given_org_details %}
  <div class="tile_count col-lg-12">
    <div class="alert alert-danger alert-dismissible " role="alert">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      <strong>You did't complete Organization Informations</strong>
    </div>
  </div>
  {% else %}

  <div class="col-md-6 col-sm-6  ">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-info"></i> Organization Location <small></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>

          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <!-- start accordion -->
        <div class="accordion" id="accordion" aria-multiselectable="true">
          <div class="panel">
            <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Division : {{org.division}} </h4>
            </a>
          </div>
          <div class="panel">
            <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Zilla : {{org.zilla}} </h4>
            </a>

          </div>
          <div class="panel">
            <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Thana : {{org.thana}} </h4>
            </a>
          </div>

          <div class="panel">
            <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
              <h4 class="panel-title">Address : {{org.address}} </h4>

            </a>
          </div>

        </div>
        <!-- end of accordion -->


      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-6  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-info"></i> Other's Information <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <!-- start accordion -->
                    <div class="accordion" id="accordion" aria-multiselectable="true">
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Contact Number: {{org.contact_number}}</h4>
                        </a>
                      </div>
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Organization Type: {{org.org_type}} </h4>
                        </a>

                      </div>
                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Active Member: {{org.org_active_member}} </h4>
                        </a>
                      </div>

                      <div class="panel" style="overflow:hidden;">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Facebook Link : {{org.socila_link1}} </h4>
                        </a>
                      </div>

                      <div class="panel" style="overflow:hidden;">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">Other Activity Link : {{org.socila_link2}} </h4>
                        </a>
                      </div>

                      <div class="panel">
                        <a class="panel-heading"  id="headingOne" aria-expanded="true" aria-controls="collapseOne">
                          <h4 class="panel-title">About Organization : {{org.org_about}}</h4>
                        </a>
                      </div>

                    </div>
                    <!-- end of accordion -->


                  </div>
                </div>
  </div>

  {% endif %}

<div class="col-md-6 col-sm-6" style="margin:auto;">
  <div class="x_panel">
  <div class="row">
    <div class="center" style="margin:auto;">
      <!--
      <button onclick="location.href='{% url 'App_Event:home' %}'" class="btn btn-success pull-right"><i class="fa fa-edit"></i>Update Information</button>
      -->
      <button onclick="location.href='{% url 'App_Organization:UpdateOrganizationInformation' slug=user.slug %}'" class="btn btn-success pull-right"><i class="fa fa-edit"></i>Update Information</button>
    </div>
  </div>
  </div>
  </div>


</div>
</div>
  <!-- /top tiles -->
{% endblock %}

{% block extra_js %}

{% endblock %}
