{% extends 'master.html' %}

{% block title_block %}
Donation Collection | Home
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLongTitle">Update Your Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

    <div class="container pt-120">
        <div class="main-body">

              <div class="row gutters-sm">
                <div class="col-lg-4 col-md-6 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>John Doe</h4>
                          <p class="text-secondary mb-1">Full Stack Developer</p>
                          <a href="mailto:webmaster@example.com"><p> <i class="far fa-envelope"></i> anujafor.cse11@gmail.com</p></a>
                          <a href="tel:8882192787"> <p> <i class="fas fa-phone-volume"></i> 888-219-2787 </p> </a>
                          <div data-toggle="modal" data-target="#exampleModalCenter">
                            <a class="float-right" title="Edit Profile"> <i class="far fa-edit"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-lg-8 col-md-6 mb-3">
                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="section_title text-center mb-55">
                              <h3><span>You Contributed </span></h3>
                          </div>
                      </div>
                  </div>

                  <div class="col-md-12">
       <div class="row d-flex justify-content-around">
									<div class="col-xl-5 col-md-6 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
										<div class="card">
											<div class="card-body text-center">
												<h5 class="card-title mb-4">TOTAL</h5>
												<h1 class="display-6 mt-1 mb-2">112382</h1>

											</div>
										</div>

									</div>
									<div class="col-xl-5 col-md-6 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded">
										<div class="card">
											<div class="card-body text-center">
												<h5 class="card-title mb-4">EVENTS</h5>
												<h1 class="display-5 mt-1 mb-3">12</h1>

											</div>
										</div>

									</div>




								</div>
                </div>


                <div class="col-lg-12">

                  <div class="row justify-content-center">
                      <div class="col-lg-12">
                          <div class="section_title text-center mb-55">
                              <h3><span>Events List</span></h3>
                          </div>
                      </div>
                  </div>

                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, quae!</div>

                      </div>
                      <span class="badge bg-success rounded-pill">৳ 20014</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>

                      </div>
                      <span class="badge bg-success rounded-pill">৳ 1050</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab fugiat illo exercitationem.</div>

                      </div>
                      <span class="badge bg-success rounded-pill">৳ 1050</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Lorem ipsum dolor sit amet.</div>

                      </div>
                      <span class="badge bg-success rounded-pill">৳ 1050</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum?</div>

                      </div>
                      <span class="badge bg-success rounded-pill">৳ 1050</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, vero, facere!</div>

                      </div>
                      <span class="badge bg-success rounded-pill">৳ 1050</span>
                    </li>
                  </ol>
                </div>


                </div>
              </div>

            </div>
        </div>


        {% block extra_js %}
        <script>
      $(document).ready(function() {
        $('#exampleModalLong').click(function () {
              $('#exampleModalLong').modal('show');
          })
      })
    </script>

        {% endblock %}

        {% endblock %}
