{% extends 'App_Organization/master.html' %}

{% load static %}

{% block title_block %}
Organization Dashboard
{% endblock %}

{% block extra_css %}

	<link href="{% static 'dashboard/vendors/select2/dist/css/select2.min.css' %}" rel="stylesheet">

{% endblock %}

{% block body_block %}

<!-- page content -->
           <div class="right_col" role="main">
               <div class="">
                   <div class="page-title">
                       <div class="title_left">
                           <h3>Organization Informations Update</h3>
                       </div>


                   </div>
                   <div class="clearfix"></div>

                   <div class="row">
                       <div class="col-md-12 col-sm-12">
                           <div class="x_panel">
                               <div class="x_title">
                                   <h2>Organization Information<small>sub title</small></h2>
                                   <ul class="nav navbar-right panel_toolbox">
                                       <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                       </li>
                                   </ul>
                                   <div class="clearfix"></div>
                               </div>
                               <div class="x_content">
                                   <form class="" action="" method="POST" enctype="multipart/form-data">
                                     {% csrf_token %}

                                      {{form.errors}}

                                       <span class="section">Organization Documents</span>

																			 <div class="field item form-group">
																			 		<label class="col-form-label col-md-3 col-sm-3  label-align"><span class="required"></span></label>

																			 		<div class="col-md-6 col-sm-6">

																						{% if org.org_pic %}
																					 <img class="center" src="{{org.org_pic.url}}" alt="Organization Document" style="width: 50%; height: auto;" >
																					 {% endif %}
																			 		</div>
																			 </div>

																			 <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Organization Picture or Logo<span class="required">*</span></label>

                                           <div class="col-md-6 col-sm-6">

                                               {{ form.org_pic }}
                                               prefered size 400*400
                                           </div>
                                       </div>


                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Name of First Member<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member1_name }}
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Position<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member1_position }}
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Contact Name <span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member1_mobilenumber }}
                                           </div>
                                       </div>

																			 <div class="field item form-group">
 																				 <label class="col-form-label col-md-3 col-sm-3  label-align"><span class="required"></span></label>

 																				 <div class="col-md-6 col-sm-6">

 																					 {% if org.member1_nid_front %}
 																					<img class="center" src="{{org.member1_nid_front.url}}" alt="Organization Document" style="width: 50%; height: auto;" >
 																					{% endif %}
 																				 </div>
 																			</div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Front Page NID Card<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member1_nid_front }}
                                           </div>
                                       </div>

																			 <div class="field item form-group">
 																				 <label class="col-form-label col-md-3 col-sm-3  label-align"><span class="required"></span></label>

 																				 <div class="col-md-6 col-sm-6">

 																					 {% if org.member1_nid_back %}
 																					<img class="center" src="{{org.member1_nid_back.url}}" alt="Organization Document" style="width: 50%; height: auto;" >
 																					{% endif %}
 																				 </div>
 																			</div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Back Page NID Card<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member1_nid_back }}
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Name of Second Member<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member2_name }}
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Position<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member2_position }}
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Contact Number<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member2_mobilenumber }}
                                           </div>
                                       </div>

																			 <div class="field item form-group">
 																				<label class="col-form-label col-md-3 col-sm-3  label-align"><span class="required"></span></label>

 																				<div class="col-md-6 col-sm-6">

 																					{% if org.member2_nid_front %}
 																				 <img class="center" src="{{org.member2_nid_front.url}}" alt="Organization Document" style="width: 50%; height: auto;" >
 																				 {% endif %}
 																				</div>
 																		 </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Front Page NID Card<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member2_nid_front }}
                                           </div>
                                       </div>

																			 <div class="field item form-group">
 																				<label class="col-form-label col-md-3 col-sm-3  label-align"><span class="required"></span></label>

 																				<div class="col-md-6 col-sm-6">

 																					{% if org.member2_nid_back %}
 																				 <img class="center" src="{{org.member2_nid_back.url}}" alt="Organization Document" style="width: 50%; height: auto;" >
 																				 {% endif %}
 																				</div>
 																		 </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Back Page NID Card<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.member2_nid_back }}
                                           </div>
                                       </div>

																			 <!-- <div class="field item form-group">
 																				<label class="col-form-label col-md-3 col-sm-3  label-align"><span class="required"></span></label>

 																				<div class="col-md-6 col-sm-6">

 																					{% if org.org_prove1 %}
 																				 <img class="center" src="{{org.org_prove1.url}}" alt="Organization Document" style="width: 50%; height: auto;" >
 																				 {% endif %}
 																				</div>
 																		 </div> -->

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Organization Document 1<span class="required"></span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.org_prove1 }}
                                           </div>
                                       </div>

																			 <div class="field item form-group">
 																				<label class="col-form-label col-md-3 col-sm-3  label-align"><span class="required"></span></label>

 																				<div class="col-md-6 col-sm-6">

 																					{% if org.org_prove2 %}
 																				 <img class="center" src="{{org.org_prove2.url}}" alt="Organization Document" style="width: 50%; height: auto;" >
 																				 {% endif %}
 																				</div>
 																		 </div>




                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Organization Document 2<span class="required"></span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{ form.org_prove2 }}
                                           </div>
                                       </div>
                                        <!-- {{form.as_p}} -->
                                       <div class="ln_solid">
                                           <div class="form-group">
                                               <div class="col-md-6 offset-md-3">
                                                   <button type='submit' class="btn btn-primary">Submit</button>
                                                   <button type='reset' class="btn btn-success">Reset</button>
                                               </div>
                                           </div>
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- /page content -->

{% endblock %}

{% block extra_js %}

   <script src="{% static 'dashboard/vendors/validator/multifield.js' %}"></script>
   <script src="{% static 'dashboard/vendors/validator/validator.js' %}"></script>
   <script src="{% static 'general/js/CustomScripts/Division-zila-upazilla-selection.js' %}" ></script>

<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function(e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function(e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function() {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>

    <script src="{% static 'dashboard/vendors/validator/validator.js' %}"></script>

{% endblock %}
