{% extends 'App_Organization/master.html' %}

{% load static %}

{% block title_block %}
Organization Dashboard
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}

<!-- page content -->
           <div class="right_col" role="main">
               <div class="">
                   <div class="page-title">
                       <div class="title_left">
                           <h3>Form Validation</h3>
                       </div>

                       <div class="title_right">
                           <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                               <div class="input-group">
                                   <input type="text" class="form-control" placeholder="Search for...">
                                   <span class="input-group-btn">
                                       <button class="btn btn-default" type="button">Go!</button>
                                   </span>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="clearfix"></div>

                   <div class="row">
                       <div class="col-md-12 col-sm-12">
                           <div class="x_panel">
                               <div class="x_title">
                                   <h2>Form validation <small>sub title</small></h2>
                                   <ul class="nav navbar-right panel_toolbox">
                                       <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                       </li>
                                   </ul>
                                   <div class="clearfix"></div>
                               </div>
                               <div class="x_content">
                                   <form class="" action="" method="post" novalidate>
                                     {% csrf_token %}

                                       <span class="section">Bank Information of Organization</span>
                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Bank Name<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               <input class="form-control" type="text"  name="bank_name" value="{{bankinfo.bank_name}}" placeholder="Ex: Islami Bank Limited" required />
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Branch Name<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               <input class="form-control" type="text"   name="bank_branch" value="{{bankinfo.bank_branch}}" placeholder="Ex: Banani Branch" required />
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Account Name<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               <input class="form-control" type="text" name="account_name" value="{{bankinfo.account_name}}" placeholder="Ex: Mr. Hasan" required />
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Account Number<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               <input class="form-control" type="number" class='number' name="account_number" value="{{bankinfo.account_number}}" placeholder="101.1234.12344422" required></div>
                                       </div>

                                       <div class="ln_solid">
                                           <div class="form-group">
                                               <div class="col-md-6 offset-md-3">
                                                   <button type='submit' class="btn btn-primary">Submit</button>
                                                   <button type='reset' class="btn btn-success">Reset</button>
                                               </div>
                                           </div>
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- /page content -->

{% endblock %}

{% block extra_js %}

   <script src="{% static 'dashboard/vendors/validator/multifield.js' %}"></script>
   <script src="{% static 'dashboard/vendors/validator/validator.js' %}"></script>

<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function(e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function(e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function() {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>

    <script src="{% static 'dashboard/vendors/validator/validator.js' %}"></script>

{% endblock %}
