{% extends 'App_Organization/master.html' %}

{% load static %}

{% block title_block %}
Organization Dashboard
{% endblock %}

{% block extra_css %}

<style>
.alert {
  padding: 20px;
  background-color: #ff0000;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
</style>

{% endblock %}

{% block body_block %}

<!-- page content -->
           <div class="right_col" role="main">
             {% if not org.is_verified %}
             <div class="tile_count col-lg-12">
               <div class="alert alert-danger alert-dismissible " role="alert">
                 <button type="button" class="close" aria-label="Close" onclick="this.parentElement.style.display='none';"><span aria-hidden="true">×</span>
                 </button>
                 <strong>You can't Withdraw Until Verified</strong>
               </div>
             </div>
             {% else %}
               <div class="">
                   <div class="page-title">
                       <div class="title_right">
                           <h3></h3>
                       </div>

                   </div>
                   <div class="clearfix"></div>

                   <div class="row">
                       <div class="col-md-12 col-sm-12">
                           <div class="x_panel">
                               <div class="x_title">
                                   <h2>Withdraw Amount Request <small></small></h2>
                                   <ul class="nav navbar-right panel_toolbox">
                                       <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                       </li>
                                   </ul>
                                   <div class="clearfix"></div>
                               </div>

                               {% if messages %}
                               <div class="alert">
                                 <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                 {% for message in messages %}
                                 <strong>{{message}}</strong>
                                 {% endfor %}
                               </div>
                               {% endif %}

                               <div class="x_content">
                                   <form class="" action="" method="post" novalidate>
                                     {% csrf_token %}

                                       <span class="section">Enter valid amount</span>
                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Amount<span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                               {{form.amount}}
                                               you have {{orgbank.current_balance}}
                                           </div>
                                       </div>

                                       <div class="field item form-group">
                                           <label class="col-form-label col-md-3 col-sm-3  label-align">Confirm <span class="required">*</span></label>
                                           <div class="col-md-6 col-sm-6">
                                              {{form.confirm}}
                                           </div>
                                       </div>



                                       <div class="ln_solid">
                                           <div class="form-group">
                                               <div class="col-md-6 offset-md-3">
                                                   <button type='submit' class="btn btn-primary">Submit</button>
                                                   <button type='reset' class="btn btn-success">Reset</button>
                                               </div>
                                           </div>
                                       </div>
                                   </form>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

              {% endif %}
           </div>
           <!-- /page content -->

{% endblock %}

{% block extra_js %}

   <script src="{% static 'dashboard/vendors/validator/multifield.js' %}"></script>
   <script src="{% static 'dashboard/vendors/validator/validator.js' %}"></script>

<script>
    // initialize a validator instance from the "FormValidator" constructor.
    // A "<form>" element is optionally passed as an argument, but is not a must
    var validator = new FormValidator({
        "events": ['blur', 'input', 'change']
    }, document.forms[0]);
    // on form "submit" event
    document.forms[0].onsubmit = function(e) {
        var submit = true,
            validatorResult = validator.checkAll(this);
        console.log(validatorResult);
        return !!validatorResult.valid;
    };
    // on form "reset" event
    document.forms[0].onreset = function(e) {
        validator.reset();
    };
    // stuff related ONLY for this demo page:
    $('.toggleValidationTooltips').change(function() {
        validator.settings.alerts = !this.checked;
        if (this.checked)
            $('form .alert').remove();
    }).prop('checked', false);

</script>

    <script src="{% static 'dashboard/vendors/validator/validator.js' %}"></script>

{% endblock %}
