
{% extends 'master.html' %}
{% load static%}
{% block title_block %}
Donation Collection | Home
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">

</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
<link rel="stylesheet" href="{% static 'css/multistepRegi/multistepRegi.css' %}">
{% endblock %}

{% block body_block %}




        <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h2 id="heading">Sign Up for Organization</h2>
                <p>Fill all form field to go to next step</p>
                <form id="msform" method="POST" action="{% url 'register_organization' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                    <!-- progressbar -->
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Account</strong></li>
                        <li id="personal"><strong>Organization</strong></li>
                        <li id="payment"><strong>Documents</strong></li>
                        <li id="confirm"><strong>Submit</strong></li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <fieldset id="myForm">
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Account Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 4</h2>
                                </div>
                            </div>
                              <label class="fieldlabels">Email: *</label>
                               {{ regiform.email }}
                              <label class="fieldlabels">First Name of Organization: *</label>
                               {{ regiform.first_name  }}
                             <label class="fieldlabels">Last Name of Organization: *</label>
                              {{ regiform.last_name }}
                              <label class="fieldlabels">Contact Organization: *</label>
                               {{ orgform.contact_number }}
                              <label class="fieldlabels">About the Organization: *</label>
                               {{ orgform.org_about }}

                        </div>

                         <input type="button" name="next" id="check" class="next action-button" value="Next" required />

                    </fieldset>

                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 4</h2>
                                </div>
                            </div>
                            <label class="fieldlabels">Organization Image: *</label>
                            {{ orgform.org_about }}
                            <label class="fieldlabels">Password</label>
                             {{ regiform.password1 }}
                             <label class="fieldlabels">Repeat Password</label>
                              {{ regiform.password2 }}


                        </div> <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Image Upload:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 4</h2>
                                </div>
                            </div>
                            <label class="fieldlabels">Documents of Organization: </label>
                            <input type="file" name="" value="">


                        </div> <input type="button" name="next" class="next submit action-button" value="Next" />
                         <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>



                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Finish:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 4</h2>
                                </div>
                            </div> <br><br>

                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                </div>
                            </div>
                        </div>

                        <input type="submit" name="submit" value="submit"/>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>









{% block extra_js %}

<!--custom script for selecting divsion, zila, upazilla-->
<script src="{% static 'js/CustomScripts/Division-zila-upazilla-selection.js' %}" ></script>
<script src="{% static 'js/CustomScripts/multistepRegi.js' %}" ></script>

<script>

    //Image preview
    /*  ==========================================
    SHOW UPLOADED IMAGE
    * ========================================== */
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imageResult')
                    .attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    $(function () {
        $('#upload').on('change', function () {
            readURL(input);
        });
    });

    /*  ==========================================
    SHOW UPLOADED IMAGE NAME
    * ========================================== */
    var input = document.getElementById('upload');
    var infoArea = document.getElementById('upload-label');

    input.addEventListener('change', showFileName);
    function showFileName(event) {
        var input = event.srcElement;
        var fileName = input.files[0].name;
        infoArea.textContent = 'File name: ' + fileName;
    }
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

    });
    // DropDown

    $('.select2').select2();

</script>
{% endblock %}

{% endblock %}
