
{% extends 'master.html' %}
{% load static%}
{% block title_block %}
Donation Collection | Home
{% endblock %}

{% block extra_css %}

{% endblock %}

{% block body_block %}



<div class="col-lg-6 col-md-6 m-auto d-flex justify-content-around pt-120">

  <form method="POST" enctype="multipart/form-data" class="form-contact contact_form">
  {% csrf_token %}
    <div class="row w-100 ">
      <div class="row d-flex justify-content-center">
          <div class="col-lg-12">
              <div class="section_title text-center mb-55">
                  <h3><span>Organization Registration</span></h3>
              </div>
          </div>
      </div>

    <div class="col-lg-12 col-sm-12">
      <label for="">Email</label>
      <div class="form-group">
        {{ form.email }}
      </div>
  </div>
    {% if form.email.errors %}
    {{ form.email.errors }}
    {% endif %}

    <div class="col-lg-12 col-sm-12">
      <label for="">Organization Name</label>
      <div class="form-group">
    {{ form.first_name }}
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
        <label for="org_name">Contact Number</label>
        <div class="form-group">
            <input class="form-control valid" name="office_number" id="office_number" type="tel" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Mobile or Telphone Number'" placeholder="Mobile or Telphone Number">
        </div>
    </div>

    <div class="col-lg-12 col-sm-12">
        <label for="org_name">About Organization</label>
        <div class="form-group">
            <textarea class="form-control valid" name="obout_org" id="about_org" type="text" cols="15" rows="6" onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'About Your Organization'" placeholder="About Your Organization"></textarea>
        </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <label for=""> Your Password</label>
      <div class="form-group">
        {{form.password1}}
      </div>
    </div>



    <div class="col-lg-12 col-sm-12">
      <label for=""> Repeat Password</label>
      <div class="form-group">
        {{ form.password2 }}
      </div>
    </div>

    {% if form.password2.errors %}
    {{ form.password2.errors }}
    {% endif %}
    <div class="col-lg-12 col-sm-12">
    <button type="submit" class="button button-contactForm boxed-btn"> submit </button>
    </div>
  </div>
  </form>
</div>


<div class="col-lg-6 col-md-6 m-auto p-2">
  <div class="d-flex flex-column bd-highlight mb-3">
    <div class="p-2">
      <p>Already a member?</p>
      <a href="{% url 'App_Account:login' %}">Login</a>
  </div>

  <div class="p-2">

  <a href="{% url 'App_Account:password_reset' %}">Forgotten Password?</a>
  </div>

  </div>

</div>



{% block extra_js %}

<!--custom script for selecting divsion, zila, upazilla-->
<script>


</script>
{% endblock %}

{% endblock %}
